<ion-content class="ion-padding">
  <ion-row class="tagline">
    <ion-col size="12">
      <ion-button mode="ios" color="light" [routerLink]="['/', 'mobile', 'tabs', 'patients']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-label>
        <ion-text>
          Asignar
        </ion-text>
        <p>
          <ion-text color="dark">
            Paquete
          </ion-text>
        </p>
      </ion-label>
    </ion-col>
  </ion-row>

  <div class="divider"></div>

  <br>
  <br>

  <div class="patient-data">
    <ion-label>Paciente</ion-label>
    <h6>Alexandro Petro</h6>
  </div>

  