<ion-content class="ion-padding">
  <ion-row class="tagline">
    <ion-col size="12">
      <ion-button mode="ios" color="light" [routerLink]="['/', 'mobile', 'tabs', 'users']">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-label>
        <ion-text>
          {{user?.name}} {{user?.paternal_surname}}
        </ion-text>
        <p>
          {{user?.type_role?.name}}
        </p>
      </ion-label>
    </ion-col>
  </ion-row>

  <br>

  <div *ngIf="user?.status === true" class="user-status success">Activo</div>
  <div *ngIf="user?.status === false" class="user-status danger">Inactivo</div>

  <br>

  <div class="user-data">
    <ion-label>Email</ion-label>
    <h6>{{user?.email}}</h6>

    <ion-label>Fecha de nacimiento</ion-label>
    <h6>{{user?.dob}}</h6>

    <ion-label>Número de teléfono</ion-label>
    <h6>{{user?.phone_number ?? '...' }}</h6>

    <ion-label>Documento</ion-label>
    <h6>{{user?.type_document?.name + ' ' + user?.document_number}}</h6>

    <ion-label>Género</ion-label>
    <h6>{{user?.type_gender?.name}}</h6>

    <ion-label>Fecha de registro</ion-label>
    <h6>{{userCreatedAt}}</h6>
  </div>

  <br>

  <ion-row>
    <ion-segment value="description" mode="ios">
      <ion-segment-button value="description">
        <ion-label>Consultas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="company">
        <ion-label>Seguimiento</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="12">
        <ion-button mode="ios" expand="block" class="button-apply-advance-filters"
          [routerLink]="['/', 'mobile', 'users', 'update', userId]">
          Editar
          <ion-icon slot="end" name="create-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>