ion-header {
    ion-toolbar {
        --padding-start: 1.5vh;
        --padding-end: 1.5vh;

        ion-title {
            img {
                height: 7vh;
                width: 12vh;
            }
        }

        ion-buttons {
            ion-thumbnail {
                background-color: #fff;
                --border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                ion-icon {
                    font-size: 1.8rem;
                }

                img {
                    width: 90%;
                    height: 90%;
                }
            }
        }
    }
}

ion-row.tagline {
    padding-left: 1.5vh;

    ion-text {
        font-size: 2rem;
        font-weight: 800;
        color: var(--ion-color-primary);
    }

    p {
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--ion-color-medium-shade);
    }
}

ion-row.srch {
    width: 100% !important;
    padding-right: 1.5vh;
    align-items: center;
    justify-content: center;

    ion-searchbar {
        --background: #fff;
        --border-radius: 10px;
        --box-shadow: none !important;
    }
}

ion-list {
    background: transparent;

    ion-list-header {
        padding-right: 1vh;

        ion-label {
            font-size: 1.1rem;
        }

        ion-button {
            ion-text {
                font-size: 0.7rem;
            }
        }
    }

    ion-thumbnail {
        height: 4vh;
        width: 4vh;
        background-color: var(--ion-color-dark);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 100%;
            width: 100%;
        }
    }

    ion-label.recent {
        font-size: 0.95rem;
        font-weight: bold;

        p {
            margin-top: 5px;
            font-size: 0.65rem;
            font-weight: 600;
        }
    }

    ion-text[slot="end"] {
        font-size: 0.65rem;
        font-weight: 500;
        align-self: center;

        .small-chip {
            display: inline-flex;
            align-items: center;
            padding: 3px 8px;
            border-radius: 4px;
            font-size: 12px;
        }

        .small-chip.success {
            background: rgba(45, 211, 111, 0.08) !important;
            color: var(--ion-color-success-shade) !important;
        }

        .small-chip.danger {
            background: rgba(235, 68, 90, 0.08);
            color: var(--ion-color-danger-shade) !important;
        }
    }
}

ion-list.recentJobs {
    ion-item {
        ion-thumbnail {
            background-color: var(--ion-color-primary);
            --border-radius: 10px;
            color: white;
        }

        margin-left: 1.5vh;
        margin-right: 1.5vh;
        border-radius: 10px;
        --border-color: transparent !important;

        ion-label {
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
        }
    }
}

span.dot {
    margin: 0 2px 2px 2px;
    height: 3px;
    width: 3px;
    background-color: dimgray;
    border-radius: 50%;
    display: inline-block;
}

.button-apply-advance-filters {
    position: fixed;
    bottom: 1rem;
    width: 100vw;
    padding-right: 4vh;
}

ion-modal {
    ion-list {
        ion-item {
            padding-top: 0.6vh;
            --border-color: transparent !important;

            ion-label {
                font-size: 11pt;
            }

            ion-select {
                width: 80vw;
                min-height: 35px;
                background: rgba(57, 23, 23, 0.08);
                --background: transparent !important;
                border: none !important;
                --padding-start: 5px !important;
                border-radius: 4px;
                border-color: transparent !important;
                --border-color: transparent !important;
            }

            input {
                width: 80vw;
                height: 35px;
                background: rgba(57, 23, 23, 0.08);
                border-radius: 4px;
                border: none;
                outline: 0;
                padding-left: 5px;
                font-size: 11pt;
            }
        }
    }
}